<nav id="nav__header">
    <div class="nav__header-left">
        <i class="fas fa-bars nav__header-left-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></i>
        <img src="http://congan.hungyen.gov.vn/images/footer-logo.png" alt="" id="logo-img">
    </div>
    <div class="nav__header-right">
        <% if(allRole.indexOf('them-chuyen-muc') !== -1){%>
            <p class="addVB" data-bs-toggle="modal" data-bs-target="#modalAddCuocthi" data-bs-backdrop='static'>
                <i class="fas fa-pen"></i> New chuyên mục
            </p>
            <%}%>
                <i class="fas fa-user admin"></i>
                <span class="admin-name"><%=user%></span>
                <div class="change-pass">
                    <i class="fas fa-cogs" id="change-pass"></i>
                    <span class="change-pass-title">Đăng xuất</span>
                </div>
    </div>
</nav>