<div class="col-xl-12">
    <h3 class="footer-heading">Công an tỉnh Hưng Yên</h3>
    <h3 class="footer-diachi">Địa chỉ: Số 45, đường Hải Thượng Lãn Ông, phường Hiến Nam, thành phố Hưng Yên</h3>
    <h3 class="footer-tenphanmem">Phần mềm phục vụ theo dõi, thống kê, báo cáo các mặt công tác chính trị trong Công an tỉnh</h3>
    <h3 class="footer-banquyen">Bản quyền thuộc đội Công nghệ thông tin - PV01</h3>
    <h3 class="footer-banquyen">@2021 - Design by Vu Van Tinh</h3>
</div>