<!-- Modal danh sách cán bộ -->
<div class="modal fade" id="modalSearch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1024px;">
        <div class="modal-content" id="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kết quả tìm kiếm, tra cứu cán bộ, chiến sĩ Công an tỉnh Hưng Yên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="tieubieuForm" class="row g-3">
                        <h3 class="total-search">Tổng số: <span id="total0"></span> bản ghi.</h3>
                        <table class="table table-striped" style="margin-top: 44px">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Họ tên</th>
                                    <th>Cấp bậc</th>
                                    <th>Chức vụ</th>
                                    <th>Đơn vị công tác</th>
                                    <th>Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody id="bang0">

                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example" id="pagination0">
                        </nav>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End modal danh sách cán bộ  -->